
#about-us{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 450px;
    width: 100%; 
    background-color: #065286;
    color: #ffffff;
    font-size: 1vw;
    
}

#about-text, #mission-statement-text{
    padding: 0% 20%;
    animation: fadeIn 2s ease-in-out;
}

#mission-statement-block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 100%; 
    font-size: 1vw;
}

#about-carousel {
    width: 30%;
    height: 450px;
    animation: fadeIn 1s ease-in-out;
}

.about-carousel-image
{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

#mission-statement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 450px;
    width: 70%; 
    background-color: #6DC4FF;
    color: #065286;
    font-size: 1vw;
}

#involvement-block{
    color: #065286;
    font-size: 1vw;
}

#involvement-title{
    margin-top: 5%;
    font-weight: bold;
}
#involvement-text{
    padding: 2% 20%;
    animation: fadeIn 2s ease-in-out;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    animation: fadeIn 1s ease-in-out;
}
  
.column {
    width: 33.33%;
}

.column img {
    width: 100%;
    height: 100%;
    
}

.column-inner{/* Container for img and content and set position to relative and become positional reference for regular-event-content */
    position:relative;
    width: 100%;
    height: 100%;
}

.regular-event-content {
    position: absolute; 
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 100%;
    height:auto;
    padding: 5%; 
}

#event-link{
    font-weight: bold;
    font-size: 1vw;
    margin : 5% 0%;
    color: #065286;
}
