#board-group-picture {
    width: 100%;
    height: 750px;
    object-fit: cover;
}

#board-background {
    position: relative;
    width: 100%;
    height: 750px;
}

#board-background-title {
    position: absolute;
    bottom: 0;
    color : #065286;
    background-color: rgba(211, 216, 218, 0.7);
    width: 100%;
    height: 10%;
    font-size: 3vw;
    text-align: center;
}

#board-members-container {
    animation: fadeIn 1s ease-in-out;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 22%;
    justify-content: space-evenly;
    justify-items: center;
    gap: 1%;
    margin: 2%;
  }
  
  .board-card {
    width: 50%;
    height: 100%;

  }


.board-picture {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 50%;
}

.board-member-position{
    font-style: italic;
   color: #959b9f;
}

.board-info-container {
    height: 40%;

  }


 @media (max-width: 768px) {
    #board-group-picture {
        height: 300px;
    }

    #board-background {
        height: 300px;
    }

    #board-members-container {
        display: block;
        margin: 2% auto;
        width : 60%;
    }
      
    .board-card {
        width: 100%;
        margin: 15% 0%;
    }
    

}