#contact-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5% 10%;
    color : #ffffff;
    background-color: #065286;
    width: 100%;
    height: 300px;
    font-size: 1vw;
}

#contact-title{
    font-weight: bold;
    margin-bottom: 1%;
}

#contact-method-section{
    animation: fadeIn 1s ease-in-out;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10%;
    margin: 5%;
    
}

.media-description{
    font-size: 1.5vw;
}


#newsletter-picture{
    width: 50%;
}


@media screen and (max-width: 768px) {
    #contact-header{
        height: 200px;
        font-size: 3vw;
    }
    #contact-method-section{
        gap: 2%;
        margin: 5% 3%;
    }
    .icon{
        transform: scale(0.5);
    }

    .media-description{
        font-size: 3vw;
    }

    #instagram-page{
        min-width: 0;
        transform: scale(0.6);
    }
}